/*------------ Setting Up ------------*/

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    line-height: 20px;
}


::-moz-selection{
background:#ff1250 ;color:#fff
}
::selection{
background:#ff1250; color:#fff
}



/*------------ Responsive Tablet ------------*/
@media screen and (min-width:415px) and (max-width:800px) {

	body {
	    margin: 0;
	}
	
	.container {
	    max-width: 100%;
	}
	
	/*Home*/

	/*Project*/
	
	.project {
	    padding-right: 0;
	    padding-left: 0;
	}
	
	.project-content p{
	    max-width: 100%;
	    /*font-size: 16px;*/
	    margin-right: auto;
	    margin-bottom: 18px;
	    margin-left: auto;
	    padding-left: 6.5%;
	    padding-right: 6.6%;
	}
	
	.large {
		max-width: 100%;
	}
	
	.medium{
		max-width: 100%;	
	}
	
	.videoplayer {
		display: none;
	}
	
}



/*------------ Responsive Mobile ------------*/

@media screen and (max-width:414px) {
	
	body {
	    margin: 0;
	}
	
	.container {
	    max-width: 100%;
	}

	/*Home*/
	.section-about p {
	    margin-top: 0px;
	    margin-bottom: 18px;
	    font-size: 16px;
	    line-height: 26px;
	    text-align: center;
	    margin-left: 14px;
	    margin-right: 14px;
	}

	/*Project*/
	
	.project {
	    padding-right: 0;
	    padding-left: 0;
	}
	
	.project-content p{
	    max-width: 100%;
	    font-size: 16px;
	    margin-right: auto;
	    margin-bottom: 18px;
	    margin-left: auto;
	    padding-left: 6.5%;
	    padding-right: 6.6%;
	}
	
	.project-content h2 {
		max-width: 100%;
	    margin-top: 18px;
	    margin-bottom: 20px;
	    font-family: Montserrat, sans-serif;
	    font-size: 32px;
	    line-height: 36px;
	    font-weight: 700;
	    text-transform: uppercase;
	    letter-spacing: 1.2px;
	    padding-left: 6.5%;
	    padding-right: 6.6%;
	}	
	
	.project-content h3 {
	    margin-top: 18px;
	    margin-bottom: 10px;
	    font-family: Montserrat, sans-serif;
	    font-size: 24px;
	    line-height: 28px;
	    font-weight: 700;
	    text-transform: uppercase;
	    padding-left: 6.5%;
	    padding-right: 6.6%;
	}
	
	.large {
		max-width: 100%;
	}
	
	.medium{
		max-width: 100%;	
	}
	
	.videoplayer {
		display: none;
	}
	
}





/*------------ Base Text ------------*/


h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 10px;
    color: #303030;
    /*padding-left: 6.5%;*/
    /*padding-right: 6.6%;*/
}


h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 35px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

h2 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-family: Montserrat, sans-serif;
    font-size: 38px;
    line-height: 46px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h3 {
    margin-top: 18px;
    margin-bottom: 16px;
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

h4 {
    margin-top: 0px;
    margin-bottom: 16px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #BCBCBC;
    text-transform: uppercase;
}

h5 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    text-transform: uppercase;
}

h6 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 1.2px;
}

p {	
	color: #303030;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
}

a {
    color: #303030;
    text-decoration: none;
    opacity: 1;
}

a:hover {
	opacity: .4;
	-webkit-transition: .2s;
	-moz-transition: .2s;
}

a:focus {
    outline: 0
}

.site-name {
    display: inline-block;    
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    color: #303030;
    text-decoration: none;
}

.site-name:hover {
    color: #6d6d6d;
}





/*------------ Home Sections ------------*/


.home-header {
    padding-top: 38px;
    padding-bottom: 24px;
    text-align: center;
}


.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
}

.section {
    position: relative;
    padding-right: 2.5%;
    padding-left: 2.5%;
    background-color: white;
}


.section-header {
    padding-top: 38px;
    padding-bottom: 24px;
    text-align: center;
}


.section-about {
    position: relative;
    padding-right: 2.5%;
    padding-left: 2.5%;
    text-align: center;
}

.about-image {
    display: block;
    width: 240px;
    height: 240px;
    margin-right: auto;
    margin-bottom: 24px;
    margin-left: auto;
    border-radius: 50%;
    cursor: pointer;
    background-image: url(../_images/about_s.png);
    background-size: contain;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.about-image:hover {
    background-color: #ff1250;
    background-blend-mode: multiply;
}

.about-image .overtext {
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  transform: translateY(-6px);
  -webkit-transform: translateY(-6px);
}

.about-image .title {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding-top: 34px;
  opacity: 0;
  /*transition-delay: 0.1s;*/
  transition-duration: 0.15s;
}

.about-image:hover .title, .about-image:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  color: #ff1250;
}

.about-hidden {
    display: block;
    max-width: 560px;
    margin-right: auto;
    padding-top: 8px;
    margin-bottom: 68px;
    margin-left: auto;
}

.about-title {
	margin-bottom: 24px;
	font-family: Montserrat, sans-serif;
	font-size: 36px;
	line-height: 46px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.section-about p {
    margin-top: 0px;
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.section-about h1 {
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 35px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}

.about-social {
	position: relative;
	padding-right: 2.5%;
	padding-left: 2.5%;
	text-align: center;
	margin-bottom: 48px;
}

.about-social img {
    width: 48px;
    margin-right: 6px;
    margin-left: 6px;
}

.line-separator{
	margin: auto;
	height:1px;
	background:#ccc;
	border-bottom: 1px solid #eee;
	max-width: 200px;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition-timing-function: ease;
	-o-transition-timing-function: ease;
	transition-timing-function: ease;
	-webkit-transition-duration: .35s;
	-o-transition-duration: .35s;
	transition-duration: .35s;
	-webkit-transition-property: height, visibility;
	-o-transition-property: height, visibility;
	transition-property: height, visibility;
}

.section-gallery {
    position: relative;
    padding-right: 2.5%;
    padding-left: 2.5%;
    text-align: center;
}

.section-gallery a {
	width: 100%;
	height: 100%;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    opacity: 1;
}

.section-gallery a:hover, .section-gallery a:focus, .section-gallery a:active {
    opacity: 1;
}

.gallery-box {
	display: inline-block;
	cursor: pointer;
	height: 240px;
	width: 240px;
	margin-right: 12px;
	margin-bottom: 20px;
	margin-left: 12px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
}

.rad-grad{
  -moz-box-shadow: inset 0 0 32px #ddd;
  -webkit-box-shadow: inset 0 0 32px#ddd;
  box-shadow: inner 0 0 32px #ddd;
}

.gallery-box img{
	width: 100%;
	position: absolute;
	left: 0;
	-webkit-transition: opacity 200ms ease-out;
	-moz-transition: opacity 200ms ease-out;
	-o-transition: opacity 200ms ease-out;
	-ms-transition: opacity 200ms ease-out;
	transition: opacity 200ms ease-out;
}

.gallery-box .gallery-overlay{
	background-color: rgba(255, 0, 67, .93);
	position: absolute;
	color: #fff;
	z-index: 100;
	-webkit-transition: opacity 200ms ease-out;
	-moz-transition: opacity 200ms ease-out;
	-o-transition: opacity 200ms ease-out;
	-ms-transition: opacity 200ms ease-out;
	transition: opacity 200ms ease-out;
	opacity: 0;
	width: 240px;
	height: 240px;
	border-radius: 50%;	
}

.gallery-box:hover .gallery-overlay{
	opacity: 1; 
}

.gallery-box .overtext {
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  transform: translateY(6px);
  -webkit-transform: translateY(6px);
}

.gallery-box .title {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
  /*text-transform: uppercase;*/
  margin-top: 108px;
  opacity: 0;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
}

.gallery-box:hover .title, .gallery-box:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

.gallery-box .tagline {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
}

.gallery-box:hover .tagline,
.gallery-box:focus .tagline {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}


.section-footer {
    padding-top: 72px;
    padding-bottom: 64px;
    text-align: center;
}










/*------------ Projects ------------*/

.project {
    position: relative;
    /*padding-right: 2.5%;*/
    /*padding-left: 2.5%;*/
    text-align: center;
}

.project-content {
    display: block;
    max-width: 100%;
    margin-right: auto;
    /*margin-bottom: 50px;*/
    margin-left: auto;
}

.project-content p{
	/*font-size: 14px;*/
    max-width: 570px;
    margin-right: auto;
    margin-bottom: 18px;
    margin-left: auto;
}

.project-content a{
    color: #ff1250;
    opacity: 0.85;
}

.project-content a:hover {
	opacity: .4;
	-webkit-transition: opacity 200ms ease-out;
	-moz-transition: opacity 200ms ease-out;
	-o-transition: opacity 200ms ease-out;
	-ms-transition: opacity 200ms ease-out;
	transition: opacity 200ms ease-out;
}

.project-content .description {
	opacity: .6;
	font-size: 13px;
	margin-bottom: 16px;
}


.videoplayer {
	width: 800px; 
	height: 450px; 
}

.videoWrapper {
	position: relative;
	padding-bottom: 50.00%; /* 800px = 44.25%, 16:9 = 56.25%*/
	padding-top: 25px;
	height: 0;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.large{
	width: 900px;	
}

.medium{
	width: 620px;	
}


.separator{
	height: 96px;
}

.separator-mini{
	height: 64px;
}

.separator-micro{
	height: 32px;
}

.separator-nano{
	height: 16px;
}

.separator-atom{
	height: 4px;
}

.project-gallery {
    position: relative;
    padding-right: 2.5%;
    padding-left: 2.5%;
    text-align: center;
}

.project-gallery-image {
    width: 160px;
    margin-right: 6px;
    margin-bottom: 12px;
    margin-left: 6px;
    border-radius: 50%;
}


.project-gallery a:hover, .project-gallery a:focus, .project-gallery a:active {
    opacity: 1;
}


.project-gallery .gallery-box {
	display: inline-block;
	cursor: pointer;
	height: 164px;
	width: 164px;
	margin-right: 4px;
	margin-bottom: 8px;
	margin-left: 4px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
}

.project-gallery .gallery-box img{
	width: 100%;
	position: absolute;
	left: 0;
	-webkit-transition: opacity 200ms ease-out;
	-moz-transition: opacity 200ms ease-out;
	-o-transition: opacity 200ms ease-out;
	-ms-transition: opacity 200ms ease-out;
	transition: opacity 200ms ease-out;
}

.project-gallery .gallery-box .gallery-overlay{
	background-color: rgba(255, 0, 67, .93);
	position: absolute;
	color: #fff;
	z-index: 100;
	-webkit-transition: opacity 200ms ease-out;
	-moz-transition: opacity 200ms ease-out;
	-o-transition: opacity 200ms ease-out;
	-ms-transition: opacity 200ms ease-out;
	transition: opacity 200ms ease-out;
	opacity: 0;
	width: 164px;
	height: 164px;
	border-radius: 50%;	
}


.project-gallery .gallery-box:hover .gallery-overlay{
	opacity: 1; 
}

.project-gallery .gallery-box .overtext {
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  transform: translateY(4px);
  -webkit-transform: translateY(4px);
}

.project-gallery .gallery-box .title {
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 700;
  color: #fff;
  /*text-transform: uppercase;*/
  margin-top: 68px;
  opacity: 0;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
}

.project-gallery .gallery-box:hover .title, .project-gallery .gallery-box:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

.project-gallery .gallery-box .tagline {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
}

.project-gallery .gallery-box:hover .tagline,
.project-gallery .gallery-box:focus .tagline {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}








.go-home {
    display: inline-block;    
    -webkit-transition: opacity 200ms ease-out;
    -moz-transition: opacity 200ms ease-out;
    -o-transition: opacity 200ms ease-out;
    -ms-transition: opacity 200ms ease-out;
    transition: opacity 200ms ease-out;
    color: #303030;
    text-decoration: none;
}

.go-home:hover {
    color: #7e7e7e;
    -webkit-transition: opacity 200ms ease-out;
    -moz-transition: opacity 200ms ease-out;
    -o-transition: opacity 200ms ease-out;
    -ms-transition: opacity 200ms ease-out;
    transition: opacity 200ms ease-out;
}



/*------------ Input field ------------*/


#inverse {
	background: #F9F9F9;
}



.letmein {
	/*position: relative;*/
	height: 100%;
	width: 100%;
	padding: 0;
	text-align: center;
	display: block; 
	margin: auto;
}

.inform {
	position: absolute;
	height: 28px;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	
}

.container-pass {
	min-height: 100%;
}

input[type="password"] {
  /*display: block;*/
  margin: 0;
  padding: 0 10px 0 10px;
  border: 0px solid;
  width: 240px;
  height: 28px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
  
}

input[type="password"]:focus {
  outline: none;
  /*border-left: solid 2px #969696;*/
}

#gopass {
	cursor: pointer;
	/*position: absolute;*/
	float: right;
	height: 28px;
	width: 28px;
	margin-left: 2px;
	background: url(../_images/go0.png)no-repeat;
	background-size: contain;
}

#gopass:hover {
	background: url(../_images/go1.png);
	background-size: contain;
	-webkit-transition: .2s;
	-moz-transition: .2s;
}

.needPass {
	font-size: 13px;
	position:absolute;
	bottom:0;
	width:100%;
	height:60px;
}




